<launch>

    <arg name="rviz"                    default="True"/>
    <arg name="rviz_ref_frame"          default="odom"/>

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
        args="-d $(find champ_description)/rviz/urdf_viewer.rviz -f $(arg rviz_ref_frame)"
        output="screen"
    />

</launch>